
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>



<div >
    <i id="text1" style='font-size:60px' class='far'>&#xf2bd;</i>
   <!-- <fa-icon id="text1" [icon]="fa-user-circle"></fa-icon> -->
   <!-- <mat-icon id="text1" aria-hidden="false" aria-label="Example home icon"></mat-icon> -->
     <p id="text">{{username}}</p>
     <!-- <i  class="fa fa-user-circle" aria-hidden="true">USER</i> -->
     <div *ngIf = "show">
<p><button (click)='getDoctors()' id="btn1" class="w3-button w3-black w3-hover-green w3-round-large">DOCTORS</button></p>
<p><button (click)='getPatients()' id="btn2" class="w3-button w3-black w3-hover-green w3-round-large">PATIENTS</button></p>
</div>>
</div>