.w3-btn {width:150px;}
#btn1{
    position: absolute;
    top:35%;
    left:49%;
}
#btn2{
    position: absolute;
    top:50%;
    left:49%;
}
#text{
    position: absolute;
    right: 55px;
    top: 0px;
}
#text1{
    position: absolute;
    right: 10px;
    top: -20px;
}